{% extends 'base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <style>
        .delete_button {
            display: none;
            position: absolute;
            bottom: -20px;
            left: 30%;
            transform: translateX(-40%);
            animation: ani 1s forwards;
        }
        {##}
        {#@keyframes ani {#}
        {#  0% {transform: translateX(-10%);}#}
        {#  100% {transform: translateY(-10%);}#}
        {#}#}
    </style>
<div class="text-center mt-3">
    <h1>Мои социальные сети</h1>
    <hr class="mb-5">

    <div class="row">
        {% for i in social_networks %}
        <div id="social-network-el" class="col-md-4 mb-5">
            <div style="position: relative; display: inline-block" class="justify-content-center">
                <a href="{{ i.link }}" target="_blank"><img id="snImage" src="{% static 'images/' %}{{ i.name }}.png" alt="telegram-icon" width="102" height="102"></a>
                <h3 class="m-2">{{ i.name }}</h3>
                <a href="{{ i.link }}" target="_blank" style="text-decoration: none;">{{ i.link|truncatechars:30 }}</a>
                <hr class="w-25 mx-auto ">
                <button id="deleteButton" type="submit" class="btn btn-danger delete_button">Удалить</button>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
